/* Style sheet for the whole screen  */
body {
  background: #CCCCFF;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:  gill sans, sans-serif;
}
.main {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 100vh;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.notes__title {
  color: #328362;
  font-size: 38px;
  font-family: gill sans, sans-serif;
  font-weight: 400;
}
.notes {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /*responsive 3 column grid of notes*/
}
@media screen and (max-width: 900px) {
  .notes {
      grid-template-columns: repeat(2, minmax(300px, 1fr)); /* if screen smaller, 2 note column */
  }
}
@media screen and (max-width: 500px) {
  .notes {
      grid-template-columns: repeat(1, minmax(300px, 1fr)); /* if screen smaller, 1 note column */
  }
}
