/* Style sheet for what each note looks like on screen */
.note {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: none;
    color: #328362;
    padding: 15px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    font-family:  gill sans, sans-serif;
}

.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family:  gill sans, sans-serif;
}
.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: #328362;
    resize: none;
    font-size: 18px;
    font-family:  gill sans, sans-serif;
}
.note textarea:focus {
    outline: none;
}
.note textarea::placeholder {
    color: #328362;
}
.note__save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #328362;
    border-radius: 10px;
    color: #328362;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
    font-family:  gill sans, sans-serif;
}
.note__save:hover {
    background: #328362;
    border: 1.5px solid #328362;
    color: #4b1589;
}
.note__delete {
    cursor: pointer;
}
.note__delete:hover {
    transform: scale(1.1);
}
.note__add-sub-note {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #328362;
    border-radius: 10px;
    margin: 5px;
    color: #328362;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
    font-family:  gill sans, sans-serif;
}
.note__add-sub-note:hover {
    background: #328362;
    border: 1.5px solid #328362;
    color: #4b1589;
}